<include href="views/header.html"></include>
<body>
    <h1>Food Order Form Below</h1>
    <!-- Created a form that uses the get method. Redirect the user
     to order2 when form is submitted (action="route")-->
    <form method="POST" action="order2">
        <label>What would like to order?
            <input type="text" name="food">
        </label><br>

        <!-- get meal -->
        <div class="form-group">
            <label class="col-sm-2 control-label">Select a meal</label>
            <div class="col-sm-4">
                <label><input type="radio"
                              name="meal"
                              id="breakfast"
                              value="breakfast"> Breakfast
                    </input></label><br>
                <label><input type="radio"
                              name="meal"
                              id="lunch"
                              value="lunch"> Lunch
                    </input></label><br>
                <label><input type="radio"
                              name="meal"
                              id="dinner"
                              value="dinner"> Dinner
                    </input></label><br>
            </div>
        </div>
        <input type="submit" value="Next >>">
    </form>
</body>
</html>