<include href="views/header.html"></include>
<body>
    <div class="container">
    <h1>Order Summary</h1>

    <h2>Thank you for your order!</h2>

    <h3>Your ordered {{ @SESSION.food}} for {{ @SESSION.meal}}</h3>
    <h3>Condiments: {{ @SESSION.condiments }}</h3>



    <!--Link back to order route with an href="order"
        link back to home page with <a href="{{@BASE}}"
    -->
    <a href="order">Place another order!</a>
    <a href="{{@BASE}}">Home Page</a>
    </div>
</body>
</html>